header {
    border-top: 10px solid #f2f2f2;
}

.logoIcon.off{
    display: none;
}
.tennisBall.off{
    display: none;
}

.logo {
    width: 30px;
    height: 58px;
    padding: 5px 0;
    margin: auto;
}
.logo img {
    width: 100%;
    height: 100%;
}

.headerInner {
    width: 1130px;
    margin: auto;
    border: 0 10px solid #f2f2f2;
}

.headerNav {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 40px;
    margin: auto;
    border-bottom: 1px solid #ba2a2a;
    background-color: rgba(119,42,42,1);
}

.nav {
    width: 1130px;
    margin: auto;
}

.navList {
    float: left;
    width: 108px;
    margin: 0 35px;
    text-align: center;
    font: 14px/40px 'Comfortaa', sans-serif;
    opacity: 0.7;
}
.navList:first-child {
    margin-left: 64px; 
}

.navList:last-child {
    margin-right: 64px;
}

.navList>a {
    display: block;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}