header {
    background: url(../assets/icon-net.svg);
    height:168px;
}

.headerInner {
    position: relative;
    width: 1130px;
    height:128px;
    margin: auto;
}

.subNav {
    width: 887px;
    margin: auto;
}

.subNavList {
    margin: 55px 33px;
    margin-bottom: 46px;
    float: left;
    font: 18px/24px 'Comfortaa', sans-serif;
}
.subNavList>a {
    display: block;
    width: 100%;
    height: 100%;
    color: #deab04;
}

.subNavList.on {
    border-bottom: 3px solid #deab04;
}
.subNavList.mainLogo{
    margin:0 33px;
    margin-bottom:0;
    width:68px;
}
.logo {
    margin:0 33px;
    height: 128px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 100%;
}

.tennisBall {
    position: absolute;
    left: -10px;
    top: 44px;
}

.headerNav {
    clear: both;
    z-index: 10;
    width: 100%;
    height: 40px;
    margin: auto;
    border-bottom: 1px solid #ba2a2a;
    background-color: rgba(119,42,42,1);
}

.nav {
    width: 1130px;
    height:40px;
    margin: auto;
}

.navList {
    float: left;
    width: 108px;
    margin: 0 35px;
    text-align: center;
    font: 14px/40px 'Comfortaa', sans-serif;
    opacity: 0.7;
}
.navList:first-child {
    margin-left: 64px; 
}

.navList:last-child {
    margin-right: 64px;
}

.navList>a {
    display: block;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}